 {% extends "admin/admin.html.twig" %}
 {% block title %}OffersType index{% endblock %}

{% block body %}
    <h1>Index des type d'offres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offers_type in offers_types %}
            <tr>
                <td>{{ offers_type.label }}</td>
                <td>{{ offers_type.createdAt ? offers_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offers_type.modifiedAt ? offers_type.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('offers_type_show_admin', {'id': offers_type.id}) }}">Afficher</a>
                    <a href="{{ path('offers_type_edit_admin', {'id': offers_type.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offers_type_new_admin') }}">Nouveau</a>
{% endblock %}
