 {% extends "admin/admin.html.twig" %}
 {% block title %}OffersType{% endblock %}


{% block body %}
    <h1>Type d'offres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offers_type.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ offers_type.label }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ offers_type.createdAt ? offers_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le</th>
                <td>{{ offers_type.modifiedAt ? offers_type.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offers_type_index_admin') }}">retour à la liste</a>

    <a href="{{ path('offers_type_edit_admin', {'id': offers_type.id}) }}">edit</a>

    {{ include('/admin/offers_type/_delete_form.html.twig') }}
{% endblock %}
