{% extends 'client/client.html.twig' %}


{% block title %}Offres{% endblock %} 

{% block body %}
    <main class="offers-list">
        <div class="search">
            <div class="filtre">
                <button class="submit" type="submit" value="Search">
                    <span>Rechercher</span>
                    <i class="fas faw fa-search"></i>
                </button>
                <div class="form-group">
                    <label for="jobName" class="txt">Nom du poste</label>
                    <input type="text" id="jobName" name="domaine" placeholder="ex : informatique">
                </div>
                <div class="form-group">
                    <label for="offer_type" class="txt">Type d'offre</label>
                    <select name="offertype" id="selectOfferType">
                        <option value="">Choisissez un type d'offre</option>
                        {% for offersType in offers_types %}
                            <option value="{{offersType.id}}">{{ offersType.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="cat" class="txt">Catégorie</label>
                    <select name="categorie" id="selectCat">
                        <option value="">Choisissez une catégorie</option>
                        {% for category in categories %}
                            <option value="{{category.id}}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="sous-cat" class="txt">Sous-catégorie</label>
                    <select name="sous-categorie" id="selectSousCat">
                        <option value="">Choisissez une sous-catégorie</option>
                        {% for subCategory in sub_categories %}
                            <option value="{{subCategory.id}}">{{ subCategory.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="ville" class="txt">Ville</label>
                    <input type="text" id="ville" name="ville"
                        placeholder="Entrez une ville">
                    </div>
                <div class="form-group">
                    <label for="department" class="txt">Département</label>
                    <select name="department"
                        id="department">
                        <option value="">Choisissez un département</option>
                        {% for department in departments %}
                            <option value="{{department.id}}">{{ department.name }}</option>
                        {% endfor %}
                        </select></div>
                <div class="form-group">
                    <label for="hourWeek">Heure par semaine </label>
                    <div class="multi-input">
                        <input type="number"
                            id="hourMin" name="hourWeek" min="0" max="50" value="7">
                        <span> à </span>
                        <input type="number" id="hourMax" name="hourWeek" min="0" max="50"
                            value="35">
                    </div>
                </div>
                <div class="form-group">
                    <label for="experience">Expérience </label>
                    <div class="multi-input">
                        <input
                            type="number" id="expMin" name="experience" min="0" max="50" value="1">
                        <span> à </span> <input type="number" id="expMax" name="experience" min="0" max="50"
                            value="35">
                    </div>
                </div>

            </div>
        </div>
        <div class="offers">
            <h1>Liste des offres</h1>
            <div class="offers-main-content">
                <div class="offers-cards">
                    
                    {% for offer in offers %}
                        <div class="offer-card">

                            <h2><a href='http://localhost:4000/offer/{{offer.id}}'>{{offer.jobName}}</a> </h2>
                            <div class="categoryOffer">{{ offer.subCategory.category.name }}</div>
                            <div class="subCategoryOffer">{{ offer.subCategory.name }}</div>
                            <div class="departmentOffer">{{ offer.department.name }}</div>
                            <div class="hourOffer">{{ offer.weekHoursNumber }} heures par semaine </div>
                            <div class="expOffer">{{offer.experience}} années d'expériences requises</div>
                        </div>
                    {% endfor %}

                    <div class="offer-card">
                        <h2>JobName</h2>   
                    </div>
                </div>
                <div class="pagination">
                    <div class="pagination-inputs">
                        <button class="prev page-numbers" href=" {{ path("homepage_client") }}">
                            <i class="fas faw fa-arrow-left"></i>
                        </button>
                        <input type="number" class="page-numbers current" min="1" value="1">
                        <button class="next page-numbers" href="{{ path("homepage_client")}}">
                            <i class="fas faw fa-arrow-right"></i>
                        </button>
                    </div>
                    <button class="go">Go !</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}