{% extends "client/client.html.twig" %} 

{% block title %}Offer{% endblock %}

{% block body %}
    <main class="offer_page">
        <a href="{{ path('offer_index_client') }}">
            <span class="urlArrows">&lt;&lt; </span>
            Retourner à la liste des offres
        </a>      

        {% if offer.active %}

            <h1 class="mt-2">{{ offer.jobName }}</h1>

            <div class="offer-subtitles">
                <h2>{{ offer.department.name }}({{ offer.department.number }}) - {{ offer.town }}</h2>

                <h3>Offre actualisée le {{offer.modifiedAt|date('d/m/Y ')}}</h3>
            </div>

            <div class="data-container">
                <div class="mainData">
                    <h4 class="title-frame">Description</h4>
                    <p>{{ offer.description }}</p>

                    <h4 class="title-frame">Tâches</h4>
                    <p>{{ offer.tasks }}</p>

                    <h4  class="title-frame">Expérience requis</h4>
                    <p>{{ (offer.experience <= 1) ? 
                        offer.experience ~ " année d'expérience requise"
                        : offer.experience ~ " années d'expériences requises"}}</p>

                    <h4 class="title-frame">Compétences requises</h4>
                    <div class="tagsMain">
                        {# {% for skill in offer.skills %}
                            <span class="tag">{{ skill }}</span>
                        {% endfor %} #}
                    </div>
                </div>

                <sidebar class="frame">
                    <h4 class="sidebar-title-frame">Détails</h4>

                    {# <p><i class="fas fa-briefcase"></i>{{ offer.subCategory.category }}</p> #}

                    {# <p><i class="fas fa-folder"></i>{{ offer.subCategory }}</p> #}
                    

                    <p><i class="fas faw fa-laptop-house"></i>{{ offer.offersType.label }}</p>

                    <p><i class="fas faw fa-clock"></i>{{ offer.weekHoursNumber }} hours per week</p>


                    <h4 class="sidebar-title-frame">Coordonnées</h4>

                    <p><i class="fas faw fa-building"></i>{{ offer.company }}</p>

                    <p><i class="fas faw fa-map-marker-alt"></i>{{ offer.address }}</p>

                </sidebar>
            </div>
        {% else %}    
            <h1>Un problème est survenu lors de l'accès à l'offre</h1>
            <p></p>
        {% endif %}
    </main>

{% endblock %}
