 {% extends "admin/admin.html.twig" %}
 {% block title %}OfferType index{% endblock %}

{% block body %}
    <h1>OfferType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer_type in offer_types %}
            <tr>
                <td>{{ offer_type.id }}</td>
                <td>{{ offer_type.label }}</td>
                <td>{{ offer_type.createdAt ? offer_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer_type.modifiedAt ? offer_type.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('offer_type_show_admin', {'id': offer_type.id}) }}">show</a>
                    <a href="{{ path('offer_type_edit_admin', {'id': offer_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offer_type_new_admin') }}">Create new</a>
{% endblock %}
