 {% extends "admin/admin.html.twig" %} 

 {% block title %}Skills index {% endblock %}

{% block body %}
    <h1>Skills index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Modified_at</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skills in skills %}
            <tr>
                <td>{{ skills.id }}</td>
                <td>{{ skills.name }}</td>
                <td>{{ skills.modifiedAt ? skills.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ skills.createdAt ? skills.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('skills_show_admin', {'id': skills.id}) }}">show</a>
                    <a href="{{ path('skills_edit_admin', {'id': skills.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('skills_new_admin') }}">Create new</a>
    {# <div data-udata-dataset="59315a2c88ee385fac21149f">cat</div>
    <script data-udata="https://www.data.gouv.fr/" src="https://static.data.gouv.fr/static/oembed.js" async defer></script> #}
{% endblock %}