<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TTC{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('client') }}
            
        {% endblock %}
{# <link rel="stylesheet" href="https://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css"> #}
        {% block javascripts %}
            {{ encore_entry_script_tags('client') }}
            {# Importation des Url des range slider #}
   
    {# Importation du fichier javascript #}
        {% endblock %}
{# //  <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.js"></script>
//     <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.mobile-1.4.2.min.js"></script> #}

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ path("homepage_client") }}">Accueil</a>
                    </li>
                    <div class="test" style='height: 20px; width: 40px; background-color: red;'>

            </div>
                    {# <li>
                        <a href="{{ path("contact") }}">Contact</a>
                    </li> #}
                    {% if app.user %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path("homepage_admin") }}">Page admin</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path("logout") }}">Déconnexion</a>
                        </li>                        
                    {% else %}
                        <li>
                            <a href="{{ path("register") }}">Inscription</a>
                        </li>
                        <li>
                            <a href="{{ path("login") }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
