 {% extends "admin/admin.html.twig" %} 

 {% block title %}Category index {% endblock %}

{% block body %}
    <h1>Index des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
                {# <th>Modifié le</th> #}
                {# <th>Créé le</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in category %}
            <tr>
                <td>{{ category.name }}</td>
                {# <td>{{ category.modifiedAt ? category.modifiedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('category_show_admin', {'id': category.id}) }}">Afficher</a>
                    <a href="{{ path('category_edit_admin', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new_admin') }}">Nouveau</a>
    {# <div data-udata-dataset="59315a2c88ee385fac21149f">cat</div>
    <script data-udata="https://www.data.gouv.fr/" src="https://static.data.gouv.fr/static/oembed.js" async defer></script> #}
{% endblock %}
