{% extends 'admin/admin.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Département</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ department.name }}</td>
            </tr>
            <tr>
                <th>Numéro du département</th>
                <td>{{ department.number }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ department.createdAt ? department.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le</th>
                <td>{{ department.modifiedAt ? department.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_index_admin') }}">retour à la liste</a>

    <a href="{{ path('department_edit_admin', {'id': department.id}) }}">edit</a>

    {{ include('admin/department/_delete_form.html.twig') }}
{% endblock %}
