{% extends "admin/admin.html.twig" %} 

{% block title %}Skill {% endblock %}


{% block body %}
    <h1>Compétence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ skill.name }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ skill.modifiedAt ? skill.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ skill.createdAt ? skill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('skill_index_admin') }}">Retour à la liste</a>

    <a href="{{ path('skill_edit_admin', {'id': skill.id}) }}">Modifier</a>

    {{ include('/admin/skill/_delete_form.html.twig') }}
{% endblock %}