{% extends "admin/admin.html.twig" %}
{% block title %}OffersSkillsAssoc index{% endblock %}

{% block body %}
    <h1>OffersSkillsAssoc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offers_skills_assoc in offers_skills_assocs %}
            <tr>
                <td>{{ offers_skills_assoc.id }}</td>
                <td>{{ offers_skills_assoc.createdAt ? offers_skills_assoc.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offers_skills_assoc.modifiedAt ? offers_skills_assoc.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('offers_skills_assoc_show_admin', {'id': offers_skills_assoc.id}) }}">show</a>
                    <a href="{{ path('offers_skills_assoc_edit_admin', {'id': offers_skills_assoc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offers_skills_assoc_new_admin') }}">Create new</a>
{% endblock %}
